.site-header{
	position: relative;
	width: 100%;
	z-index: 2;
	margin-top: -30px;

	@mixin atMedium{
	background-color: #383E4C;
	height: 80px;
	margin-top: 0px;

	}	

	&__menu-content{
		display: none;

		@mixin atMedium{
			display: block;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background-color: #FFF;
		position: absolute;
		top: 40px;
		right: 10px;

		@mixin atMedium{
			display: none;
		}

	}
}