.wrapper {
	overflow: hidden;
	margin: 0 auto 30px;
	padding-right: 20px;
	padding-left: 20px; 


	@mixin atMedium{
		margin-left: auto;
		margin-right: auto;
		padding: 0 50px 0;
		max-width: 1236px;
	}

&__narrow-column{
	padding-left: 75px;
	padding-right: 75px;
	
	@mixin atMedium{
	padding-left: 50px;
	padding-right: 50px;
	}
}

&--medium {
	max-width: 976px;
}

&--narrow{
	max-width: 470px;
}

&--no-padding-until-medium {
	padding-left: 0px;
	padding-right: 0px;

	@mixin atMedium {
	padding-left: 18px;
	padding-right: 18px;
	}
}

&--no-padding-until-large {
	padding-left: 0;
	padding-right: 0;

	@mixin atLarge {
	padding-left: 18px;
	padding-right: 18px;
	}
}


/*.wrapper {
	padding-left: 0;
	padding-right: 0;
}

&--b-margin {
	margin-bottom: 1rem;

	@mixin atSmall {
	margin-bottom: 3.875rem;
	}
}*/

}