.parallax{
    background: url(/assets/images/bg-1.jpg) fixed;
	height: 275px;
    background-position: center;
    background-size: cover;
    
    @mixin atMedium{
    height: 600px;
    }
}


.parallax2{
	background: url(/assets/images/bg-2.jpg) fixed;
	height: 375px;
    background-position: center;
    background-size: cover;

    @mixin atMedium{
    height: 315px;   
    }
}


.parallax3{
	background: url(/assets/images/bg-3.jpg) fixed;
    height: 800px;
    background-position: center;
    background-size: cover;

    @mixin atMedium{
    height: 600px; 
    }
}
