.parallax{
    background: url(/assets/images/bg-1.jpg);
	height: 275px;
    background-position: center;
    background-size: cover;
    
    @mixin atMedium{
    height: 600px;
    }
}


.parallax2{
	background: url(assets/images/bg-2.jpg);
	height: 375px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @mixin atMedium{
    height: 315px;   
    }
}


.parallax3{
	background: url(../assets/images/bg-3.jpg);
    height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @mixin atMedium{
    height: 600px; 
    }
}
